@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');

.fun-font {
  font-family: 'Luckiest Guy', cursive;
  letter-spacing: 0.5px;
}

.text-outline {
  color: #346fae;
  text-shadow:
    -2px -2px 0 #1b1f33,
    2px -2px 0 #1b1f33,
    -2px 2px 0 #1b1f33,
    2px 2px 0 #1b1f33,
    0 0 2px #000;
}

